p {
    margin: 0;
    font-size: 16px;
}

img {
    height: 120px;
    width: 120px;
}
.Card__img img:hover {
    height: 130px;
    width: 130px;
}

.paragraph {
    font-size: 24px;
}
.price {
    font-size: 32px;
    padding-top: 10px;
    font-weight: 900;
}

.Card {

    background:#fff;
    border-radius: 10px;
    transition: 0.1s;
}
.Card:hover {
    background: rgb(223, 223, 223);
    transition: 0.1s;
    border: 10px;
    border-color: red;
}

.Card__img {
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    padding: 10px;
}

/* .Card__img:hover {
    box-shadow: ;
} */

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

